@model MitiankinContacts.Models.ContactModelView
@using MitiankinContacts.Models

@{
    ViewBag.Title = "Edit";
}
@{
   // List<TypeModelView> listItems = @ViewData["TypeList"];
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#addphone").on('click', function () {
            var count = $(".phoneNumber").length ;
            $.ajax({
                async: false,
                url: '/Contact/CreateNewPhone/' + count
            }).success(function (partialView) {
                $('#phoneNumber').append(partialView);
            });
        });
        $(".remRow").click(function () {
            $(this).closest("div").hide();
            var myDiv = $(this).closest("div");
            var index = myDiv.index();
           
            $(this).closest("div").append("<input class='form-control text-box single-line' id='Numbers_" + index + "__Deleted' name='Numbers[" + index + "].Deleted' type='text' value='true' />");
        });

    });
</script>

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ContactModelView</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PersonId, new { htmlAttributes = new { @class = "form-control" } })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="phoneNumber">
        @Html.EditorFor(x => x.Numbers)
            

        </div>

        <input type="button" id="addphone" name="addphone" value="Add phone" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
                }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

