@model MitiankinContacts.Models.NumberModelView

<div class="phoneNumber">

    @Html.HiddenFor(model => model.IdInDatabase)
    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.IdType, ViewData["TypeList"] as List<SelectListItem>, new { @class = "form-control" })
    </div>

    @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
    </div>

    <a href="javascript:void(0);" class="remRow">Remove</a>
</div>

